<DOCTYPE html>
<html>
<head>
	<title>abood_code for palestine</title>
	<link rel="stylesheet" type="text/css" href="../static/style1.css">
</head>
<body class = "bd">


<h1 id = "hello"> ^^^^^Hello welcome to my web^^^^^ </h1>

<a href = "https://www.facebook.com/profile.php?id=100005590659805" target="blank">

<img id = "img" width="500"  src="https://scontent.fjrs2-1.fna.fbcdn.net/v/t1.0-9/36326964_822796107916737_6319993270248144896_n.jpg?_nc_cat=0&oh=9d693ecc967e9af1167cfa0cf7090486&oe=5BE88CD2"/>
</a>
<button id = 'But2'onclick = changeimg() > Click Me to change the photo!</button>
<h1 id = "my_name"> my name is Abed Al Qder Auda  ^Abood^</h1>
<button id = 'But'onclick = changetext() > Click Me to change name color !</button>
<ul id = "br">
	<li> I'm 16 years old     </li>
	<li> i love swim          </li>
	<li> i love listen to muic</li>
</ul>


	
	<script>
	function changeimg(){
	var img1 = document.getElementById('img');
	img1.src = '../static/img.jpg'

	}



	function changetext(){
		var changetext = document.getElementById("my_name");
		changetext.style.color = "red";


	}


	</script>



</body>


</body>
</html>